body .slug-pattern {background-color:#50ac23;}
ul.pricing li.price span {color:#50ac23;}
.body .pagination ul.pages li.active a:hover {color:#50ac23;}
.body .blog blockquote, blockquote.full {border-left:2px solid #50ac23;}
.body .blog.style-4 .border .meta p {background:#50ac23;}
.footer.style-2 .foot-nav-bg {background-color:#50ac23;}
.footer .foot-nav {background-color:#50ac23;}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {color:#50ac23;}
a, a:visited { color: #50ac23; }	
.tabbed-area ul.tabs li a.active {color:#50ac23;border-top:1px solid #50ac23;}
.header .nav .standard ul.tabs li a.active, .header .nav .standard ul.tabs li a:hover {color:#50ac23;}
.header .logo {background-color:#50ac23;}
.footer .logo-caption, .footer .logo-caption-overlay {background-color:#2280a8;}